<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
        <h1>{{ i18n "all_posts" . }}</h1>
        {{with .Params.description}}
            <p>{{.}}</p>
        {{end}}
        {{ $section := .Section }}
        {{ range where .Pages "Section" $section }}
        <ul><a href="{{ .Permalink }}">{{ .Title }}</a> by  &Backslash; <i>{{ .Lastmod.Format "2006-01-02" }}</i></ul>
        {{ end }}
    </article>
    {{partial "contact.html" .}}
</div>
</body>
</html>
