<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
        <h1>{{ i18n "all_posts" . }}</h1>
        {{with .Params.description}}
            <p>{{.}}</p>
        {{end}}
        {{ range (where .Site.RegularPages "Type" "in" (slice "books")).GroupByDate "2006-01" }}
        <h2>{{ .Key | time.Format "January 2006" }}</h2>
        {{ range .Pages }}
          <ul><a href="{{ .Permalink }}">{{ .Title }}</a> by {{ .Page.Params.author }} &Backslash; <i>{{ .Date.Format "2006-01-02" }}</i></ul>
        {{- end -}}
    {{ end }}
    </article>
    {{partial "contact.html" .}}
</div>
</body>
</html>
